Source: matrix-ng
Section: embedded
Priority: optional
Maintainer: Jozsef Kiraly <fonix232@gmail.com>
Build-Depends: 
    debhelper,
    dkms, dh-dkms,
    device-tree-compiler
Standards-Version: 3.9.5
Homepage: https://github.com/matrix-ng

Package: matrix-ng-kernel-modules
Architecture: any
Depends:
    ${misc:Depends},
    dkms
# ADD KERNEL HEADERS PACKAGE
Description: Source DKMS for MATRIX Creator kernel modules

Package: matrix-ng-init
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    matrix-ng-kernel-modules,
    matrix-ng-tools,
    xc3sprog,
    openocd,
    python3-pip
Description: Source DKMS for MATRIX Creator kernel modules

Package: matrix-ng-firmware
Architecture: any
Depends:
    matrix-ng-init
Description: Firmware binaries for MATRIX Creator and Voice

Package: matrix-ng-tools
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    matrix-ng-hal
Description: General tools for managing MATRIX devices

Package: matrix-ng-hal
Conflicts: libmatrixio-creator-hal
Replaces: libmatrixio-creator-hal
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    wiringpi,
    libfftw3-dev,
    libgflags-dev
Description: Hardware Abstraction Layer for MATRIX devices

Package: matrix-ng-hal-dev
Conflicts: libmatrixio-creator-hal-dev
Replaces: libmatrixio-creator-hal-dev
Section: libdevel
Architecture: any
Depends:
    matrix-ng-hal (= ${binary:Version}),
    libc6-dev | libc-dev,
    ${misc:Depends}
Description: Hardware Abstraction Layer for MATRIX devices

Package: matrix-ng
Architecture: any
Depends:
    matrix-ng-kernel-modules,
    matrix-ng-init,
    matrix-ng-firmware,
    matrix-ng-tools,
    matrix-ng-hal
Description: Parent meta package for MATRIX Creator and Voice